.blog {
  margin: auto;
  .banner_blog img {
    width: 100%;
    position: relative;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 25%;
    right: 45%;
    padding: 20px;
    h3 {
      text-align: center;
    }
    a {
      text-decoration: none;
      color: black;
      // font-family: "Poppins", sans-serif;
    }
    .home_blog {
      font-weight: 1000;
    }
    i {
      margin: 5px;
    }
  }
}
