.header
		{
		display: flex;
		background-color: white
		}
.logo{
		background-color: white;
  		margin: 10px;
  		padding: 20px;
  		font-size: 30px;
		width: 380px;
		text-align: center;
		color: black;
		}
.link
	{
		background-color: white;
  		margin: 10px;
  		padding: 20px;
  		font-size: 20px;
		width: 380px;
		text-align: center;
		color: black;
		word-spacing: 40px;
		}
.icon
			{
			background-color: white;
			margin: 10px;
			padding: 20px;
			font-size: 20px;
			width: 380px;
			text-align: center;
			color: black;
			word-spacing: 30px;
			}

