.blog {
  margin: 58px 0;
  .blog-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .blog-content {
    width: 817px;
    flex-direction: column;
    gap: 30px;
    margin-left: 71px;

    .blog-content-img {
      width: 100%;
      height: auto;
      margin-bottom: 17px;
    }

    .post {
      display: flex;
      gap: 35px;
      align-items: center;
      a {
        color: #9f9f9f;
      }
      span {
        color: #9f9f9f;
      }
    }

    h3 {
      color: #000;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 12px;
    }

    p {
      color: #9f9f9f;
      text-align: justify;
      font-size: 15px;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 30px;
    }

    button {
      background: none;
      border: none;
      border-bottom: 1px solid black;
      color: #000;
      text-align: justify;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 66px;
    }
  }

  .categoris {
    max-width: 395px;
    margin-left: 71px;

    .khoi-search {
      margin-bottom: 118px;

      input {
        border-radius: 10px;
        border: 1px solid #9f9f9f;
        background: #fff;
        width: 100%;
        height: 58px;
        flex-shrink: 0;
        margin-bottom: 40px;
        padding: 10px;
      }
      i {
        position: absolute;
        font-size: 19px;
        transform: translate(-170%, 105%);
        cursor: pointer;
      }
      p {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 33px;
      }
      ul {
        list-style: none;
        color: #9f9f9f;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        li {
          margin-bottom: 41px;
          color: #9f9f9f;
        }
      }
    }

    .khoi-post {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    h3 {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 26px;
    }
    .post-content {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
      }
    }

    .text-content {
      display: flex;
      flex-direction: column;

      p {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .article-date {
        color: #9f9f9f;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.abc {
  display: flex;
  justify-content: space-between;
  .categoris-left {
    display: flex;
    flex-direction: column;
    gap: 41px;
    a {
      color: #9f9f9f;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .categoris-right {
    display: flex;
    flex-direction: column;
    gap: 41px;
  }
}
