.cart
{
    display: flex;
    flex-shrink: 0;
    background: #FAF3EA;
    padding: 100px 53px;
    justify-content: center;
}


.class
{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.box
{
    display: flex;
    gap: 5px;
    p
    {
        color: var(--Color-Gray-3, #898989);
    }
}